<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="mainformcont">
        <div class="logo">
           <img src="images/logo.png" alt="imgs"></div>
           <p id="wel" class="error">Welcome back</p>
           
          
           <form action="/login" method="post" id="loginform">
            <div class="inputs">
            <div ><input type="email" placeholder="Enter email" class="inp1" name="email" id="loginmail"></div>
            <div ><input type="password" placeholder="Enter password" class="inp1" name="password" id="loginpass"></div></div>
        <div class="button">
            <button type="submit" id="sublogbtn">Login</button></div>
        
        </form>
    
       
    <div class="last">
      <p>By continuing you agree the<a href=""> terms</a> and you have read our <a href="">privacy policy</a></p>
  </div>
  <div class="loginbtn">
      <button onclick="redirecttocreate()">Create</button>
  </div>
</div>
    
       
       
       
      <script src="logic1.js"></script>
     
   </body>
   </html>
   
   
