*
{
    margin: 0;
    padding: 0;
}
      .button{
        
        width: 400px;
        height: 300px;
       
        margin:15% auto;
        
        display: flex;
        flex-direction: column;
        text-align: center;
      }
     .button a{
        text-decoration: none;
    width: 100%;
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 28px;
    background-color: #FDDA0D	;
    border: 1px solid #FDDA0D	;
    color: black;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
    margin-top: 63px;
   
      }
 .finalmainnav
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    border-bottom: 1px solid lavender;
    box-shadow: 2px 2px 4px lightgray;
    
 } 
 .finalright
 {
    display: flex;
    gap: 30px;
    align-items: center;
 }
 .finalpro
 {
    display: flex;
    flex-direction: column;
    text-align: center;
 }  
 .finallogoutbtn button
 {
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 17px;
    background-color: #FDDA0D	;
    border: 1px solid #FDDA0D	;
    color: black;
   
    font-family: cursive;
    cursor: pointer;
 }
 .finalpro p{
    font-family: cursive;
    font-size: 21px;
 }
 .finalmiddle
 {
    position: relative;
    width: 32%;
    display: flex;
    align-items: center;
 }
 .finalmiddle input{
    padding: 12px 11px;
    width: 100%;
    border: 2px solid black;
    border-radius: 15px;
    
 }
 .finalmiddle button
 {
    border-radius: 50%;
    background-color: #FDDA0D;
    color: black;
    border: none;
    padding: 9px;
    
    position: absolute;
    right: 12px;
    top: 4px;
    
 }
 .proicon
{
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 8px;
}
.icons
{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
    
}
.icons img{
    width: 32px;
}
.maindis
{
    display: flex;
    justify-content: center;
}

.displaybox
{
    text-align: center;
    outline: 2px solid black;
   margin-top: 2%;
    border-radius: 7px;
    font-family: cursive;
    width: 37%;
    display: flex;
    justify-content: space-around;
    padding: 14px 30px;
    
}
.displaybox i{
     
    color: #FDDA0D;
    

}
.displaybox .p2
{
    color: rgba(0, 0, 0, 0.514);
    border-left: 1px solid rgba(51, 48, 48, 0.384);
    padding-left: 10px;
}
.card{
    padding: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: poppins;
}
.card1{
    width: 300px;
    padding-bottom: 26px;
    margin-left: 20px;
}
.card1 img
{
    width: 300px;
    height: 250px;
    border-radius: 14px;
}
.des{
    padding-bottom: 5px;
}
.des1
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.des .pp
{
    color: rgba(0, 0, 0, 0.685);
}
.btn
{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    
}
    
.btn button{
    padding: 9px 24px;
    border-radius: 8px;
    font-size: 17px;
    background-color: #FDDA0D	;
    border: 1px solid #FDDA0D	;
    color: black;
   
    font-family: cursive;
    cursor: pointer;
}
.btn p{
    font-family: poppins;
}
.showbtn{
    text-align: center;
    
    
}

.showbtn button
{
    padding: 14px 30px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 25px;
    position: fixed;
    bottom: 0;
    
    
}
.showbtn button i{
    padding-left: 4px;
    
}
@media (max-width:600px){
    .mainav{
        position: sticky;
        top: 0;
        padding: 0;
        background-color: white;
    }
    .left{
        display: none;
    }
    .proicon{
        display: none;
    }
    .input input {
        border: 1px solid lightgray;
        width: 96%;
      
        padding: 10px;
        border-radius: 25px;
        box-shadow: 2px 2px 4px lightgray;
    }
    .input button {
        border-radius: 50%;
        background-color: rgba(255, 0, 0, 0.726);
        color: white;
        border: none;
        padding: 9px 10px;
        margin-left: -32px;
        position: absolute;
        right: 1.1rem;
        bottom: 7px;
    }
    .icons {
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        position: sticky;
        top: 0;
        background-color: white;
    }
    .defmar{
        margin-right:3% ;
    }
    .displaybox {
        text-align: center;
        border: 1px solid black;
        border-radius: 7px;
        width: 75%;
        display: flex;
        gap: 0.5rem;
        padding: 14px 30px;
    }
    .displaybox i {
        margin-left: 25%;
        margin-right: 2%;
        font-size: 18px;
        color: red;
        line-height: 3;
    }
    .showbtn button {
        padding: 14px 30px;
        background-color: black;
        color: white;
        border: 1px solid black;
        border-radius: 25px;
        position: fixed;
        right: 9rem;
        bottom: 0;
    }
    footer {
       height: 100%;
        padding-top: 7%;
        padding-left: 1rem;
        background-color: #F7F7F7;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 2rem;

    }
    footer .divfot h3 {
        margin-bottom: 1%;
        margin: 2% 0%;
        font-weight: 600;
    }
}

    

 







